body{
    background-color: rgb(7, 15, 43);
}
.main_area{
    background-color: rgb(27, 26, 85);
    display: block;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 42px;
    width: 60px;
    border-radius: 30px;
}